<div class="ai1ec-btn-group ai1ec-btn-group-xs">
	<a id="ai1ec-agenda-collapse-all" class="ai1ec-btn ai1ec-btn-default ai1ec-btn-xs">
		<i class="ai1ec-fa ai1ec-fa-minus-circle"></i> {{ 'Collapse All' | __ }}
	</a>
	<a id="ai1ec-agenda-expand-all" class="ai1ec-btn ai1ec-btn-default ai1ec-btn-xs">
		<i class="ai1ec-fa ai1ec-fa-plus-circle"></i> {{ 'Expand All' | __ }}
	</a>
</div>
<div class="ai1ec-btn-group ai1ec-btn-group-xs">
	<a id="ai1ec-print-button" href="#" class="ai1ec-btn ai1ec-btn-default ai1ec-btn-xs">
		<i class="ai1ec-fa ai1ec-fa-print"></i>
	</a>
</div>
